version: '3.8'

services:
  frontend:
    container_name: frontend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '80:80'
    networks:
      - frontend-net

networks:
  frontend-net:
    driver: bridge
